[2012-07-19 13:59] astanley opened #2 "Extra space in file path within fileTransfer xhr2 demo page"
The file:// protocol has an extra space at the end of it : "file:// "

https://github.com/blackberry/BB10-WebWorks-Samples/blob/master/fileTransfer/app/xhr2.html#L61

[2012-07-26 06:05] RonMen opened #4 "NFC Tool example port"
Hi there, a request: can you create an example of using the NFC or port the NFC Tool example from Cascades? Would be very helpful. Maybe in the next Webcast it could be part of and explained together with the difference between Device code signing keys and NFC keys to access the Secure Element.

[2012-07-26 07:56] nukulb commented on #4
@RonMen - so currently there is no NFC webworks extension :(
Since we have been talking about it more and more, I would like to understand further what your use case for NFC is.
What would like to use NFC for?

Can you put a link to the NFC Tool example from Cascades?

[2012-07-26 08:04] RonMen commented on #4
Hi.

the Cascades Example is here: https://github.com/blackberry/Cascades-Community-Samples/tree/master/NfcTool

There are so many use cases seen on other devices/OSs like open up a specific app when then device is recognizing a NFC tag with sepcific informations written to it.

[2012-07-26 13:37] astanley commented on #4
- @kwallis

[2012-07-31 19:34] #2 closed, assigned to nobody

[2012-08-18 06:10] diogogmt opened #7 "PushCapture example missing webworks script"
The pushCapture example is trying to load a file that doesn't exist.

Failed to load resource: the server responded with a status of 404 (Not Found) http://localhost:9910/pushCapture/Scripts/webworks-1.0.1.8.js

[2012-08-18 13:44] mdandrea commented on #7
Hi Diogo,

All of the BB10 WebWorks samples actually do not include the WebWorks JS script.
This is so that you can copy over and point to the one included in the version of the WebWorks SDK that you download.

See the "How to Build" section of the Push Capture sample app for more info on the steps to get the sample up and running.

Let me know if you run into any issues or have any questions.

Th

[2012-09-12 17:14] jeffheifetz opened #8 "Invoker app in Invoke Sample has a broken option "Open a JPG""
What he ^ said

[2012-09-12 17:17] nukulb commented on #8
@haahmad - thoughts on this?

can you have a quick look please?

[2012-09-12 17:28] haahmad commented on #8
I just fired up the application in webinspector, its broken because my XHR calls have been deprecated, I will fix it.

[2012-09-12 20:05] haahmad commented on #8
I'm getting a 403 error when trying to push by branch with the fix...

[2012-09-30 22:16] PhilipKirkbride opened #15 ".load for actionbar menu"
The actionbar menu will not work when loaded in with

[code]

[2012-09-30 22:18] PhilipKirkbride commented on #15
oops wrong section BB10-Jquery theme

[2012-10-22 21:26] NadyaD opened #21 "FaceBook OAuth 2.0"
I followed the instructions and set up the redirect script on my server. I am able to go past successfully  requesting a token, but when i am redirected to the facebook login screen I get a popup window which says: "Access to "http://facebook.techadvantage.ca/redirect.php?code=AQBHnO3CJpOo...._=_" not allowed "

[2012-10-23 19:23] NadyaD commented on #21
added <access uri="my website url" subdomains="true" /> to config.xml and it fixed the error

[2012-10-23 19:23] #21 closed, assigned to nobody

[2012-10-25 18:01] astanley commented on #21
Thanks NadyaD - just to confirm was that just an oversight, or did we miss including that step in the Oauth-Facebook README?

[2012-10-25 19:48] NadyaD commented on #21
It would be helpful to add that to the instructions, however for those familiar with playbook app development this information is explained in playbook app setup. But in this sample, I think it needs to be mentioned that
<access uri="http://oauth.chadtatro.com" subdomains="true" /> in config.xml
should be changed to your website's domain.

[2012-11-08 16:35] astanley commented on #21
- @ctetreault for visibility.  Feedback about your sample.

[2012-11-12 13:37] #7 closed, assigned to nobody

[2012-12-06 20:01] mushtaq34 opened #36 "unable to get access token from Facebook using FaceBook-OAuth-2 in BB10"
Hi,
    I'm trying to get access token from Facebook, with following the procedure mentioned in FaceBook-OAuth-2. Getting 'authcode' successfully after that unable to perform Ajax with following url,
'https://graph.facebook.com/oauth/access_token?client_id=' + facebookOptions.clientId + '&redirect_uri=' + facebookOptions.redirectUri + '&client_secret=' + facebookOptions.clientSecret + '&code=' + a

[2012-12-07 07:47] mimendoza opened #39 "Fix content src element for PullToRefresh sample"
@erikj54

< content src > tag points to index.htm, should be index.html

[2012-12-07 12:16] ejzn commented on #39
Good catch. Feel free to fix it up :)

[2012-12-09 07:09] timwindsor commented on #36
@ctetreault can you help out with this issue?

[2012-12-09 19:01] gcsantiago opened #41 "window.open"
Hi, any of you has already probe the new function window.open that suppouse to open in a card?

I done, if i invoke window.open ('uri') in a direct call from, for example, in an onclick works fine, but in a callback function don't ... in the inspector appear to successful ocurrs but still open on background and we can't see it...

Additionally, I can't understand how or where to use target='_blank

[2012-12-09 19:45] nukulb commented on #41
Look at this page it should provide necessary examples
https://github.com/blackberry/BB10-WebWorks-Framework/blob/master/test/test-app/manual/childWebView/main.html

[2012-12-10 02:01] gcsantiago commented on #41
Thanks @nukulb , very well explanation... but a callback example is not there... suppose i call a dialog ui and then run a window.open for the user selection, is there where isn't work , right now for me :/

[2012-12-10 05:41] mushtaq34 commented on #36
Hello Tim Windsor,
     Thank you for your response. I am happy to help you.

[2012-12-10 15:39] ctetreault commented on #36
I would start by checking with Web Inspector to see a)  what is being sent to facebook from the app, and b)  what exactly is facebook sending back?  there should be some descriptive error message on their end as to what the issue is.

[2012-12-11 06:50] mushtaq34 commented on #36
I am getting alert message like 'Error getting access_token: '. If I tried to do using top.location.replace instead of Ajax request then getting Access token successfully in a blank screen. But it will not redirect to local:///index.html as per redirect.php.

[2012-12-12 20:48] gcsantiago opened #49 "pimcalendar invoke"
Im using pimcalendar on bb10 and successful create an event and get their id, then, how can i invoke the calendar with this id to open the event? Thx

[2012-12-12 22:17] #8 closed, assigned to nobody

[2012-12-13 09:18] mushtaq34 commented on #36
I got the exact error by checking with Web Inspector..

Error getting access_token: {
   "error": {
      "message": "Error validating verification code. Please make sure your redirect_uri is identical to the one you used in the OAuth dialog request",
      "type": "OAuthException",
      "code": 100
   }
}

[2012-12-14 02:23] ejzn opened #55 "Maps application invocation example"
Could we create an example extension that invokes the MAPS application and passes it a valid rim mime type: application/vnd.rim.map.action-v1

I did some research into it, as well as created an example in the forums here: http://supportforums.blackberry.com/t5/Web-and-WebWorks-Development/Webworks-BB10-Invoke-Maps-w-directions/m-p/2036267/highlight/false#M32135

I got the format through the wikis.

[2012-12-18 02:12] Quackerjack opened #58 "navigator.geolocation.getCurrentPosition is not triggering either callbacks"
Some of us are having problems with the navigator.geolocation.getCurrentPosition in Webworks for BB10 Gold Edition as it does not trigger either the success or fail callbacks. Please also read this as other developer are encountering the same issues:
http://supportforums.blackberry.com/t5/Web-and-WebWorks-Development/Geolocation-always-times-out/td-p/2020591/highlight/true

Here is the code I'm us

[2012-12-18 02:19] #58 closed, assigned to nobody

[2012-12-18 15:17] astanley commented on #58
Was this issue closed on purpose?

Here is a functional example of using geolocation on BlacKBerry 10.  Is this not working as expected on your device?

https://github.com/blackberry/BB10-WebWorks-Samples/tree/master/Maps

[2012-12-18 15:19] asiayeah opened #59 "FaceBook-OAuth-2 stop working after upgraded to WebWorks SDK 1.0.4.5 (Gold SDK)"
Previous technique to redirecting to local:///index.html doesn't work with the new SDK:

From Web Inspector, we got an error message:
Not allowed to load local resource: local:///index.html

Is it still possible with the Gold SDK?

The following whitelisting doesn't seem to fix it:

[code]

[2012-12-18 15:30] Quackerjack commented on #58
It works fine in Ripple, but will not work in Dev Alpha (latest build).

I moved issue to Webworks instead of Samples.

[2012-12-18 22:21] timwindsor commented on #59
@ctetreault have you seen this on the new SDK?

[2012-12-18 22:45] ctetreault commented on #59
oh boy..  I'll test it out tomorrow, I think I _may_ know what's going on.

[2012-12-19 18:51] rodnolan commented on #58
https://github.com/blackberry/BB10-WebWorks-Framework/issues/487... for the benefit of future googlers

[2012-12-20 01:21] nsalyzyn-atimi opened #60 "pushCapture - can not start application, Internal Error"
I was following all the instructions on setting up a push enabled application using the sample code from the bb10 sample git repository. I got push server evaluation credentials  and I went to set up the application.  I typed in all the settings (Public/BIS, disabled subscribe) and the error message I receive is "An internal error occurred calling blackberry.push.PushService.create. Try restarting

[2012-12-20 02:25] mdicesare commented on #60
Are you running the app on a simulator or real Dev Alpha device?

From: nsalyzyn-atimi
Sent: Wednesday, December 19, 2012 8:21 PM
To: blackberry/BB10-WebWorks-Samples
Reply To: blackberry/BB10-WebWorks-Samples
Subject: [BB10-WebWorks-Samples] pushCapture - can not start application, Internal Error (#60)

I was following all the instructions on setting up a push enabled application using the sample

[2012-12-20 04:31] nsalyzyn-atimi commented on #60
The instructions said it wouldn't work on the simulator, so I went straight to a dev alpha B device. It has the most recent updates (ending in 6699 or something like that).

[2012-12-20 13:09] mdandrea commented on #60
Hi Nick,

Yes, the Push Capture sample should work with SDK 1.0.4.5.  We recently updated the sample to work with this WebWorks SDK release, so make sure you have the latest version of the sample (if you don't).

Just to make sure, are you also on the latest Dev Alpha OS update of 10.0.9.1675?
https://developer.blackberry.com/devzone/blackberry10devalpha/devalpha_update.html

Thanks,

Matt

[2012-12-20 13:32] mdandrea commented on #60
Hi Nick,

One other important thing I should have mentioned is that the permissions for push have recently changed.  That's probably why your debug token does not work.

Check out this blog post here for details about the permissions change for push:
http://devblog.blackberry.com/2012/11/push-permissions-changes/

Had you previously registered to the BlackBerry Push Service here?
https://www.black

[2012-12-20 14:24] garettB commented on #60
Hi Nick,

If you have an active Push Services account and didn't receive the email with steps on how to add the Push permission to your existing keys then please email BlackBerryPushServices@rim.com, let them know you have a Push Services account and would like the Push permission added to your keys. Also provide them the email address associated with your current code signing keys. That should be

[2012-12-20 17:56] nsalyzyn-atimi commented on #60
Hi,

I upgraded to the latest blackberry version (10.0.9.1675).  I didn't realize the update on the device wasn't working, so I had to locate a windows box to actually perform the update - somewhat frustrating.

I created a new debug token using 1.0.4.5 and installed it on the freshly updated device.

The same error is occurring.

Two days back, I registered here: https://www.blackberry.com/profil

[2012-12-20 19:10] nsalyzyn-atimi commented on #60
After finding some documentation, now that I know what to look for, it sounds very likely that my key does not have push permissions.  I think existing push activated applications are being sent instructions on what needs to change, but new applications applying do not seem to get those instructions.  Hopefully I'll get a response from the rim.com email address with appropriate haste.

I'll post h

[2012-12-20 19:13] garettB commented on #60
The form has been updated to request the code signing email address, but there may have been a gap between the update and emails getting sent out where there was no notice of needing the new permission...

The rim.com email address should help get you push in the next day, if not message back and I'll help get it added asap.

[2012-12-21 08:36] asiayeah commented on #59
Any luck?
Sent from my BlackBerry® smartphone

-----Original Message-----
From: Chad Tetreault notifications@github.com
Date: Tue, 18 Dec 2012 14:45:17
To: blackberry/BB10-WebWorks-SamplesBB10-WebWorks-Samples@noreply.github.com
Reply-To: blackberry/BB10-WebWorks-Samples reply@reply.github.com
Cc: asiayeahtony.cheung@asiayeah.com
Subject: Re: [BB10-WebWorks-Samples] FaceBook-OAuth-2 stop working a

[2012-12-21 13:52] ctetreault commented on #59
Still investigating.  Will report back as soon as I can

[2012-12-21 18:23] nsalyzyn-atimi commented on #60
I no longer get the internal error after getting the email from Blackberry and updating my debug token.  However, now it is saying that my ppg base url is invalid when I goto create a token.  I'm using the the one from the email with the XXX replaced with the cpid.  I'm not sure what to do with the port.  I even tried modifying the code to allow for https, since the documentation here: https://dev

[2012-12-21 18:26] garettB commented on #60
What are you using as the URL (you can blank out the CP#)?

[2012-12-21 18:30] nsalyzyn-atimi commented on #60
http://cp{cpid}.pushapi.eval.blackberry.com

Also, as a side note, you could add to the README documentation, that you can put your configuration settings in userinput.htm if you want to be able to copy and paste rather than transcribe the app id.

[2012-12-21 18:32] garettB commented on #60
That looks correct, what is the exact error you receive?

[2012-12-21 18:35] nsalyzyn-atimi commented on #60
I get the one associated with blackberry.push.PushService.INVALID_PPG_URL on the register page:
Error: The PPG URL was considered invalid during the create channel. Check your configuration settings.

[2012-12-21 19:11] garettB commented on #60
I'll let Marco or Matt comment, I haven't used the WebWorks version of Push much but the URL you specified should work. It may be worth trying http://pushapi.eval.blackberry.com without the CPID specified, it shouldn't be necessary from the client but shouldn't hurt either.

[2012-12-21 19:16] nsalyzyn-atimi commented on #60
Thanks for trying Garett - I'll await Marco or Matt's response.  I noticed you had mostly been working on the c++ projects (which I'd browsed through for answers).

I tried http://pushapi.eval.blackberry.com with no luck (it was one of the things I tried earlier, but I tried it again just in case).  Hopefully, this won't be tricky to resolve.  I am on a deadline for Monday for full implementation

[2012-12-21 19:24] mdicesare commented on #60
Can you try uninstalling and reinstalling the app?

Sent from my BlackBerry 10 smartphone on the Rogers Wireless network.

From: nsalyzyn-atimi
Sent: Friday, December 21, 2012 2:16 PM
To: blackberry/BB10-WebWorks-Samples
Reply To: blackberry/BB10-WebWorks-Samples
Cc: Marco Di Cesare
Subject: Re: [BB10-WebWorks-Samples] pushCapture - can not start application, Internal Error (#60)

Thanks for tryin

[2012-12-21 19:29] nsalyzyn-atimi commented on #60
I've already done that (I ended up with two push service emails, so I had to uninstall to change the settings and try the info from the other one).

 I'm working off the most recent version of the repository.

[2012-12-21 19:33] mdicesare commented on #60
Oh I see. But to be clear, have you uninstalled and reinstalled from the time you entered the invalid PPG URL?

This is the correct URL to use:
http://cp{cpid}.pushapi.eval.blackberry.com

where {cpid} is replaced with your cp id from the email.

[2012-12-21 19:39] nsalyzyn-atimi commented on #60
I've never entered an invalid PPG URL.  I've only ever entered valid ones.  And I've uninstalled and reinstalled several times (including once more just now to be sure) since I realize that the database stores all the settings and the first blackberry.push.PushService.create for an application may have lasting impact.

Uninstalling the application involves deleting the app icon and then reinstalli

[2012-12-21 20:01] mdicesare commented on #60
Yes - sounds like you are deleting it ok. If the settings are beings saved between application delete and re-install it may be worth reloading the OS build on the device to start with a fresh slate.

•Does this work fine with debug tokens?

 •Does this install fine using the interface given via Ripple for packaging applications?

 •Does this work with 4 digit cpids?

 •I have multiple push service

[2012-12-21 21:01] nsalyzyn-atimi commented on #60
Hi,

I added an alert in createChannelCallback just to be sure - the result is 10114.

The device is not saving any settings upon deleting the application.

More potential causes:
- How can I check if a VPN or dns server isn't interfering with the process?
- Can I do a curl request or the like somewhere to see if I can check out the result in a different setting?
- Has this been tested outside of

[2012-12-21 21:16] mdandrea commented on #60
Yes, it has been tested outside of our local BlackBerry environment.  And, yes, it does work with the "Subscribe with Push Service SDK" checkbox unchecked.

I'm not quite sure what's going on in your particular situation.  Are you able to hit external websites through your browser without any problem?

[2012-12-21 21:24] nsalyzyn-atimi commented on #60
I'd say connectivity to the PPG URL is a likely problem:

Before I get IT involved, are you sure these services are running?  I don't know if this is a valid way to test if the service is down, but I figure it should respond to http requests: http://www.downforeveryoneorjustme.com/pushapi.eval.blackberry.com

[2012-12-21 21:27] nsalyzyn-atimi commented on #60
And, yes, I can connect to other external websites from the browser on the device (eg. google.com)

[2012-12-21 21:35] mdandrea commented on #60
I just tried my own and createChannel worked fine, so the PPG URL appears to be working fine.

[2012-12-21 21:37] nsalyzyn-atimi commented on #60
How can I communicate this effectively to IT to demonstrate lack of connectivity to the blackberry pushapi servers?  Should ping function properly, or it blocked? Should I only be able to connect to the servers using a specific port using telnet?

[2012-12-21 21:46] mdandrea commented on #60
No, pinging would not work properly.  So, you've tried a device restart?  Installing maybe a fresh OS build and starting with a clean slate might be an option too.  I'm confused at the moment why your device would be behaving differently.

[2012-12-21 22:25] nsalyzyn-atimi commented on #60
I installed a fresh OS and started from scratch with the app.  Still no go.

More potential causes:
- BBM - no sim card - will that cause any problems?
- remote web inspector is enabled - will this cause any grief? Can I use it to debug anything here?

Do you have any suggestions on what sort of direction I can go to debug this?  IT says there isn't anything that would be blocking any outgoing/inc

[2012-12-21 22:28] nsalyzyn-atimi commented on #60
Are there any incoming ports that should be open on the network for this to function?

[2012-12-21 22:35] nsalyzyn-atimi commented on #60
Installed a SIM card and disabled wifi.  No luck. That rules out a lot of things, such as incoming/outgoing ports, vpn/dns problems, etc.

Is there an ip whitelist for this feature?

[2012-12-21 22:37] nsalyzyn-atimi commented on #60
Success!  Before removing the sim card, I tried the URL sans "cp{cpid}" and got a connection.  I'm not sure why the cpid version doesn't work, but at least I can get some coding done while everybody else is sleeping the holiday weekend away.

[2012-12-21 22:45] nsalyzyn-atimi commented on #60
I removed the sim card again and it works with the http://pushapi.eval.blackberry.com/ URL, so now I don't know if it was fixed by:
- reinstalling OS (keep in mind, I'd just installed the OS a day prior using the same executable - so this seems unlikely to me)
- adding a SIM card at some point

Other than that, nothing has changed since I last used http://pushapi.eval.blackberry.com/

[2012-12-21 23:04] nsalyzyn-atimi commented on #60
10 minutes later, the application started failing again with the sim card removed.  I put in the sim card again and it took 5 minutes before the application started working again.  Is there some connection/pinging to the BBM network required for push to be working on a device - that is only available with BBM enabled sims?

I have a working version now, but this should be documented or fixed.  FYI

[2012-12-21 23:16] mdandrea commented on #60
You're saying with Wi-Fi only and no SIM you can't do a createChannel?

Sent from my BlackBerry 10 smartphone on the Rogers Wireless network.

From: nsalyzyn-atimi
Sent: Friday, December 21, 2012 6:04 PM
To: blackberry/BB10-WebWorks-Samples
Reply To: blackberry/BB10-WebWorks-Samples
Cc: Matthew D'Andrea
Subject: Re: [BB10-WebWorks-Samples] pushCapture - can not start application, Internal Error (#

[2012-12-21 23:19] nsalyzyn-atimi commented on #60
Correct.  If I remove the SIM card, reboot the device, and use Wi-Fi, I can create a channel.  However, within a few minutes, I start getting the error code about the invalid ppg url.  My guess is that it is a bug related to the simChangeCallback in WebWorks - push clearly is very loosely coupled with the SIM card being present.

[2012-12-21 23:52] mdandrea commented on #60
Sorry, do you mean push is loosely coupled or tightly coupled with a SIM?
Push is actually not dependent on having a SIM card inserted.  It works over Wi-Fi.
Not sure what is unique to your situation, but I’ve tested over my home Wi-Fi network without a SIM card without any issue.

On a SIM card change, the channel will be destroyed.  But, then you can create a channel again and it shouldn’t give

[2012-12-22 00:55] nsalyzyn-atimi commented on #60
I don't know why it is broken, but at least I have a workaround.  But, I can reproduce the bug consistently.  Every time I unplug the SIM, for a few minutes the create channel button works fine.  However, after a few minutes, if I try to create a channel again, I get the invalid ppg url error. So, your description is correct.

[2012-12-22 00:58] garettB commented on #60
Does the BlackBerry logo show in the title bar of the homescreen when connected solely to WiFi? That indicates your device can communicate with the RIM infrastructure. If that's missing it may point to an issue with the wifi.

From: nsalyzyn-atimi
Sent: Friday, December 21, 2012 7:55 PM
To: blackberry/BB10-WebWorks-Samples; Garett Beukeboom
Reply To: blackberry/BB10-WebWorks-Samples
Subject: Re: [

[2012-12-22 20:57] gcsantiago opened #63 "io filetransfer upload file problem"
Hi, i receive...
Error code: 1
Source: file:///accounts/1000/shared/photos/Simple.jpg
Target: http://www.gipegasus.com.ar/simple/uploadimg.php
HTTP Status: undefined

In the example i saw that php extension was omitted on target, why?

Ive write all exactly the example except that extension. (If I commit via my form all work)

blackberry.io.filetransfer.upload(img, "http://www.gipegasus.com.ar/sim

[2012-12-22 22:41] nsalyzyn-atimi commented on #60
I was wondering what that icon meant.  I'm pretty sure I saw it, but it might have been going in and out.  I'm on too tight a deadline to spend any more time on this issue :(.

[2012-12-24 02:40] nsalyzyn-atimi opened #64 "Toast disappears too quickly"
The toast disappears so quickly that anything longer than 2 words is unreadable.  Certainly the button version does not give enough time for somebody to click on it unless the user has the reflexes of a cat :).

Are there settings available to lengthen the time that the toast appears for?  I'm not quite sure I understand the purpose of the toast implementation in applications.

[2012-12-24 02:43] nsalyzyn-atimi commented on #60
I'll ask QA if they want to continue this discussion, since they may want to get their dev alpha devices ready for testing without all of them needing a SIM card.

[2012-12-24 02:46] nukulb commented on #64
The options object takes timeout : [in milliseconds]

Sent from my BlackBerry device on the Rogers Wireless network.

From: nsalyzyn-atimi
Sent: Sunday, 23 December, 2012 9:40 PM
To: blackberry/BB10-WebWorks-Samples
Reply To: blackberry/BB10-WebWorks-Samples
Subject: [BB10-WebWorks-Samples] Toast disappears too quickly (#64)

The toast disappears so quickly that anything longer than 2 words is unr

[2012-12-24 03:09] nsalyzyn-atimi commented on #64
Ahhh, that should probably get documented - although I'm sure it's far from high on the priority list ;) https://developer.blackberry.com/html5/apis/blackberry.ui.toast.html

How come I cannot get the dismissCallback to work?

[code]

I get no alert and no console message.  Not when the "hiya!" times out, nor when I click on it.

[2012-12-24 09:37] Gerii commented on #64
Updated docs will be part of the next SDK release. https://github.com/blackberry/BB10-WebWorks-Framework/issues/485#issuecomment-11460962

[2012-12-24 12:17] mdandrea commented on #60
Hi Nick,

If you could get someone from your QA (with a separate Dev Alpha device) to verify that they are having the same issue as you and to see if they see the BlackBerry logo in the title bar when connected to Wi-Fi only, that would be great.

It would, at the very least, let us know that this issue is not unique to your device.

Thanks,

Matt

[2012-12-24 16:08] mdandrea commented on #60
You might also want to try a different Wi-Fi network to compare.  I'm using my home one and I don't seem to have any issues calling createChannel.

[2012-12-24 16:59] #64 closed, assigned to nobody

[2012-12-24 17:05] nsalyzyn-atimi commented on #64
Thanks.  I'll post a separate issue for the dismissCallback

[2012-12-24 17:09] nsalyzyn-atimi opened #66 "Toast dismiss callback doesn't work unless you have buttonText"
I'm not sure if it is intentional or not, but if you don't have buttonText in the toast options, then the dismissCallback is not called.

This example works fine,

[code]

but this example does nothing on dismiss:

[code]

[2012-12-24 17:41] nsalyzyn-atimi commented on #60
I used my home network to implement the push feature in the application.  This morning, I unplugged the sim card and I started getting the invalid ppg url errors.  The blackberry logo is visible in the top right corner.

I'll see what QA says for testing a separate device.

[2012-12-24 17:44] mdicesare commented on #60
Is the BlackBerry logo white or gray when you get the invalid ppg errors?

Sent from my BlackBerry smartphone on the Rogers Wireless network.

From: nsalyzyn-atimi
Sent: Monday, December 24, 2012 12:41 PM
To: blackberry/BB10-WebWorks-Samples; Marco Di Cesare
Reply To: blackberry/BB10-WebWorks-Samples
Subject: Re: [BB10-WebWorks-Samples] pushCapture - can not start application, Internal Error (#60)

[2012-12-24 17:46] nsalyzyn-atimi commented on #60
It is the same colour as the wifi logo beside it.  I'm not sure if that is white or gray.

[2012-12-27 14:13] mushtaq34 commented on #36
Hi All,
    I found the mistake in my implementation. I initialized the 'facebookOptions' variable when user clicking on the Facebook login button in my App. If I am assigning this into the loadWebWorks() function it's working properly.

The function is,
function loadWebWorks() {
    document.addEventListener("webworksready", initApp());
}

function initApp(){
    // facebook oauth setup
    faceb

[2012-12-27 14:13] #36 closed, assigned to nobody

[2012-12-29 15:07] gcsantiago commented on #36
@mushtaq34 you say "// we use a php script on a server because facebook doesn't allow for local:/// callbacks
// at this time. the php simply redirects us back to 'local:///index.html' "

in my experience this is not exactly... im using the FB object, without php, and works like a charm in Ripple, but the matter is bb10dev Alpha dont send any domain then FB refuse it, the app need to send some dom

[2013-01-02 13:44] asiayeah commented on #59
Happy New Year! Could we get this sorted out quickly to have a good start on 2013?

[2013-01-02 14:27] ctetreault commented on #59
After talking with the WebWorks team, and doing some more testing, it looks like the sames will work as is, BUT you must now specifically whitelist the Facebook/Twitter callback URL's in your config.xml.

I have updated the samples to show this, please refer to them for more detailed info ;)

[2013-01-02 15:23] asiayeah commented on #59
Thank you! That solves my issue, too.

[2013-01-07 16:20] mdandrea commented on #60
Hi Nick,

Just following up on this.  Any ideas if this issue is unique to your device?  Has your QA team had a chance to try it?

Thanks,

Matt

[2013-01-08 00:10] nsalyzyn-atimi commented on #60
QA has not yet had a chance to try it.  They've had some other issue blocking them that I haven't had a chance to look into.  I haven't been in a hurry to unblock them, since I'm sort of waiting for the Notification API to be functional on an SDK/OS release to fully test the feature.

[2013-01-08 13:27] mdandrea commented on #60
Ok, thanks for the update.  Please let us know what happens when they give things a try if you get a chance.

Thanks,

Matt

[2013-01-08 22:18] nsalyzyn-atimi commented on #60
I started doing some debugging and found push was working on my device without a sim card.  No new versions or any OS/SDK change.  Sorry - no reproducibility anymore on this bug.

[2013-01-08 22:18] #60 closed, assigned to nobody

[2013-01-16 21:51] nmurugesu opened #77 "Localization Sample is not working as expected on the latest BlackBerry 10 OS release."
We discovered an issue with the Localization Sample, where the home screen icon is not being updated when the user changes the language in the setting.  The application name is changing according to the locale of the device, but the icon is not updating.  The issue has been raised and filed and the team is looking in to it.  We will provide with a resolution as soon as we can.

[2013-01-17 14:06] LizMyers commented on #39
I'm having some difficulty implementing Pull to Refresh in the context of my app. Am trying to use the feature to refresh a Twitter feed embedded in a screen that is not index.html @mimendoza actually that would be a very useful sample - index.htm w/button to load secondary screen > click btn to push Twitter feed screen which has pull To Refresh embedded. Would appreciate either a further sample l

[2013-01-17 14:14] ejzn commented on #39
@LizMyers what are you having trouble with? The sample is pretty simple. This is the key property you want to be concerned with: -webkit-overflow-scrolling: -blackberry-touch; Have you tried mimicking the #scroller div in the sample inside your second page? You could just poach the CSS directly from this sample.

[2013-01-17 14:28] LizMyers commented on #39
I know - it's embarrassingly simple. I've tried everything you suggested. Will you be in Amsterdam? Perhaps it would be easier if i show you. Would be nice though if this could be integrated with Twitter sample though. That's pretty similar to what i need and it's a very common use case.

[2013-01-17 14:31] ejzn commented on #39
Well it isn't embarrassingly simple :). I'll take your suggestion to integrate it with the Twitter sample. I'm sure we can come up with something that can help the cause as yes, I agree that it is a common use case. I wish I was going to Amsterdam ;). Are you using BBui.js, I'm wondering if there are some conflicts with the div properties.

[2013-01-17 14:47] LizMyers commented on #39
Yes - I'm using BBui.js and BBui.css. I could send my app if it would help understand context. Please let me know what email to use.

[2013-01-17 14:53] ejzn commented on #39
Sure you can use the one in my profile: erjohnson@rim.com

[2013-01-17 18:27] gcsantiago opened #80 "FaceBook-OAuth-2 logout request"
Hi @ctetreault , the last example works great and i already success with my app, very nice...

Now, i wish to ask for a logout method, do You know how to close the session ?
because, appear the webkit open they own session, then if you close the app, open the web navigator and logout to facebook (if you already login previously, of course) this is a separate session of the app, when You open the a

[2013-01-27 04:36] ssshake opened #85 "WindowCovers Sample presents white screen"
Hi, I'm trying to use the windowcovers sample but it doesn't appear to be working. I get a white screen, not like the screenshots. I have a feeling I'm missing something fundamental. Should I be able to clone this git repo, build WindowsCovers and deploy without any modification?

I see there are three html files, index, app and setLabel, but a quite look through the code I don't see where app or

[2013-01-28 18:35] timwindsor commented on #85
Are you building with the latest SDK, on the latest OS?

The App.js file does all the real application logic and pushes the app.html and setLabel.html files to the screen:
https://github.com/blackberry/BB10-WebWorks-Samples/blob/master/WindowCovers/js/app.js

[2013-01-28 18:40] ssshake commented on #85
User error. I got it working just a few minutes ago. Thanks.
-----Original Message-----
From: Tim Windsor notifications@github.com
Date: Mon, 28 Jan 2013 10:35:44
To: blackberry/BB10-WebWorks-SamplesBB10-WebWorks-Samples@noreply.github.com
Reply-To: blackberry/BB10-WebWorks-Samples reply@reply.github.com
Cc: ssshakegit@doobiest.net
Subject: Re: [BB10-WebWorks-Samples] WindowCovers Sample presents

[2013-01-28 18:41] timwindsor commented on #85
Excellent! Glad to hear it.

[2013-01-28 19:07] ssshake commented on #85
Not to take advantage of this email but do you know if covers can reference urls for its image? I'm trying to do this but since its not working I'm thinking I need to get and save the image first and then reference it locally
-----Original Message-----
From: Tim Windsor notifications@github.com
Date: Mon, 28 Jan 2013 10:41:52
To: blackberry/BB10-WebWorks-SamplesBB10-WebWorks-Samples@noreply.github

[2013-01-28 19:26] timwindsor commented on #85
That was our first request too, and it's not integrated quite yet, but a community member submitted code for it. You can probably safely use it as it's been reviewed just waiting on some test cases to be added before it goes in. It's in this pull request: https://github.com/blackberry/BB10-WebWorks-Framework/pull/501

[2013-01-28 19:36] ssshake commented on #85
Thanks I assume you're talking about this file:
https://github.com/jcarty/BB10-WebWorks-Framework/blob/318de5df863928514bd778f304cf3f2c11fd98c9/ext/ui.cover/client.js

I would love to use their code but I have no idea how to go about that.

On Mon, Jan 28, 2013 at 2:26 PM, Tim Windsor notifications@github.comwrote:

[2013-01-28 20:41] timwindsor commented on #85
It's actually pretty easy in this case.

download that file (you can use the Raw option in Github and save it over top of your BB10SDK/Framework/ext/ui.cover/client.js file that is there now (probably want to back up the one that's there just in case).

Then you've got to change one line that is incorrect:
https://github.com/jcarty/BB10-WebWorks-Framework/blob/318de5df863928514bd778f304cf3f2c11fd9

[2013-01-28 20:43] ssshake commented on #85
Oh ha that is pretty simple. Thought I'd have to build it as per the build instructions on github. Thanks ill try it out soon!
-----Original Message-----
From: Tim Windsor notifications@github.com
Date: Mon, 28 Jan 2013 12:41:54
To: blackberry/BB10-WebWorks-SamplesBB10-WebWorks-Samples@noreply.github.com
Reply-To: blackberry/BB10-WebWorks-Samples reply@reply.github.com
Cc: ssshakegit@doobiest.net

[2013-01-28 21:00] ssshake commented on #85
Call you tell me how I can find out the usage for this?

Is it simply blackberry.cover.setContent(blackberry.ui.cover.TYPE_URI, {
path: "https://domain.com/image"
});

[2013-01-28 21:08] timwindsor commented on #85
Looks like he changed the parameter from "path" to "uri". It's described here in the file:
https://github.com/jcarty/BB10-WebWorks-Framework/blob/318de5df863928514bd778f304cf3f2c11fd98c9/ext/ui.cover/client.js#L70

[2013-01-28 22:13] ssshake commented on #85
Doesnt seem to be working. Please review my code if you dont mind. Doe the
TYPE_URI spot look right?

// setup the cover
function updateCover() {

[code]

 // minimize the app
    setTimeout(function(){
        blackberry.app.minimize();
    }, 1000);
}

---

Here are the changes made to client.js. How can I verify that this new .js
file got bundled into the project? Is that automatic?

_self.save

[2013-01-28 23:00] timwindsor commented on #85
Ah, you seem to be trying to use this to download and use a remote image. The code that I sent you is for using Data URI's. That's my fault - I misread your initial question.

You can probably just download the file and then use it with the standard image option. Use the FileTransfer api to download the file to a local path, then pass that path to the Cover API when you get a success callback:
htt

[2013-01-28 23:22] ssshake commented on #85
Well considering I didnt know what a data-uri was I'd say part of the blame
is on my end.

My original approach was in fact what you just described. I had been
messing with the filetransfer sample from git and the performance seemed to
be not very good. I'm going to mess around with that for a bit more and see
what's up. The default sample uses a pdf, when I tried to change it to img
it didnt work

[2013-01-29 01:35] ghost commented on #85
Actually, I've been having odd issues with the FileTransfer sample myself. My PHP server never seems to receive the name or content type EVER, only other params I may add to the request.

Might need a Dev Alpha or actual device to test. Too many unknowns or unimplemented functions in the simulator, and inconsistent results in Ripple.

##

James Robert Perih
james.perih@nerdsonsite.com
Cell: 204.68

[2013-01-29 02:54] ssshake commented on #85
Sad to hear. Luckily for me I got this working properly. Downloads an
image, displays it with cover window. Need to figure out how to get this
image to refresh every few seconds as the app I'm writing monitors my
security cameras.

Thanks for the help on this thread. I agree that ripple isn't as great as
it could be. Unless I'm just not aware it doesnt give me a good way to
debug for device condit

[2013-01-31 16:10] nmurugesu commented on #77
The issue has been fixed internally and the team is working on delivering an updated WebWorks SDK with the fix soon.

[2013-02-01 18:18] gcsantiago opened #90 "invoker example data problem"
Hi, im using the invoker example to test invoke app, and in the object i receive this data `onInvokedInfo.data: "SGVsbG8sIEkgaW52b2tlZCB5b3U="` in place of `data: "Hello, I invoked you"`

last DevAlpha update
Thanks

cc @ctetreault

[2013-02-01 18:22] gcsantiago commented on #41
<strong>Note!</strong> window.open() does not work without an actual user click
        due to popup blocking.

This will be modified or will keep as a behavior?

[2013-02-01 18:24] kwallis commented on #41
cc @jeffheifetz

[2013-02-01 18:24] gcsantiago commented on #49
@ctetreault Chad Do you know if it possible to invoke a target event in the calendar mention their ID ? Thanks

[2013-02-01 18:24] nukulb commented on #41
Damn, I think this is a missed change

@jeffheifetz can you add this to this release please?

Sent from my BlackBerry 10 smartphone.

From: gcsantiago
Sent: Friday, February 1, 2013 1:22 PM
To: blackberry/BB10-WebWorks-Samples
Reply To: blackberry/BB10-WebWorks-Samples
Cc: Nukul Bhasin
Subject: Re: [BB10-WebWorks-Samples] window.open (#41)

Note! window.open() does not work without an actual user

[2013-02-01 23:05] gcsantiago commented on #41
Sorry @nukulb  cc @jeffheifetz, i don't want to push press on you ! :) So, You say that will be fixed or the comment will be deleted ?

Bless You All =)

[2013-02-04 17:21] ctetreault commented on #90
Which SDK are you using?  I just tested this on 1.0.4.7 a few days ago an I'm sure it was fine then.

[2013-02-04 18:00] gcsantiago commented on #90
Hi Im using 1.0.4.7 too ! but i do this with the latest dev alpha update and i dont before to know if it is a device os problem or not :(
Im developing with bbUI and work great before the update, now the scroll area is weird with a lot of extrange visual behavior, another history but who knows?

[2013-02-04 18:24] ctetreault commented on #90
If you're using a Dev Alpha A this would make a bit more sense to me then.  As we've moved closer to production, there is less compatibility with the Dev Alpha A.

[2013-02-04 19:02] gcsantiago commented on #90
Come on! grab my A with the latest OS, I'm just developing, don´t let me suffer this way! Talk to the highest on Blackberry!!! =)

[2013-02-13 23:23] gcsantiago opened #98 "Foursquare invoke card error"
Hi, may be @ctetreault Chad can figure out why I receive this in place of login and authorization... Im using the new invocation card from the new example (and isn't send any callback uri there) (and the uri on the foursquare app page is correct and working with REST)...

may be another limitation of my Dev Alpha A ?

![IMG_00000186](https://f.cloud.github.com/assets/1733575/155029/5623db9e-7634-1

[2013-02-14 13:48] ctetreault commented on #98
Ahh yes.. I forgot to add some info to the docs.

You need to set your applications callback (on developer.foursqaure.com) to "http://localhost"

[2013-02-14 15:55] gcsantiago commented on #98
Thanks Chad... I'll see...

[2013-02-14 21:26] splatterb0y opened #100 "Google-API Maps Sample"
Hi @ctetreault do you know if it is possible to cache the Google Maps API?
It's very slow to load and I haven't found a way to load it async. Can you help me?

[2013-02-16 21:05] thtro commented on #100
I think caching is against their TOS...

[2013-02-16 23:18] splatterb0y commented on #100
Its not about caching any search results, it's about caching their javascript loader and stuff OR atleast loading it async. If you add the google maps api to your webworks application the start-up time is recognizable increased, which annoys me.

[2013-02-19 15:41] ctetreault commented on #100
I've never tried myself though I found a nice debate over here on the subject -- http://stackoverflow.com/questions/1965236/can-the-google-maps-api-javascript-be-cached

[2013-02-24 02:30] hkao opened #102 "view external pdf"
Hi,
Is there anyway to use invoke card or invoke to view external files such as pdf without having to download it?

I'm trying to use child web view, but when it encounters pdf files, it just shows blank.

Can one combine child web view with invoke card ?

Thanks!

[2013-02-24 14:07] splatterb0y commented on #102
I am pretty sure you find the answer here (line 96 and following):
https://github.com/blackberry/BB10-WebWorks-Samples/blob/master/invoke/invoker/invocations.js#L96-L103

Dont know if the URI supports something like http:///<url> I guess you have to try it.

[2013-02-25 15:51] splatterb0y commented on #100
This post was helping a bit. My solution is now to load GMaps API with jQuery.getScript and provide it with a callback that tells my application to hide the activity indicator and to continue.

[2013-02-25 15:52] #100 closed, assigned to nobody

[2013-02-25 21:25] Priyansh opened #103 "Missing root elements <html> tags in fileTransfer sample app."
There is a missing <"html"> tags in "fileTransfer" Sample app in below files :
fileUpload.html ,fileDownload.html, index.html, xhr2.html . This should be fix it in order to follow "html5 W3C spec" standard.

[2013-02-26 04:00] gcsantiago commented on #66
Right now after you show any Toast with button, the dismissCallback works as spected (allways fire) https://github.com/blackberry/BB10-WebWorks-Framework/issues/432#issuecomment-14084081

[2013-03-03 05:56] timwindsor opened #105 "Sensors Sample needs updates for Q10, new bbUI.js"
Also tweak to use getSensors list, and change options on the fly.

[2013-03-04 21:00] timwindsor commented on #102
There shouldn't be a big issue with downloading a file temporarily to show in the the Adobe Reader. However, if you want a remote solution, you could try using pdf.js. It may be able to read in a remote URL for it's data and display the results in a webview.

[2013-03-04 21:00] #102 closed, assigned to nobody

[2013-03-04 21:03] timwindsor commented on #59
So can this issue be closed?

[2013-03-04 21:04] timwindsor commented on #98
Did this work for you @gcsantiago?

[2013-03-04 21:08] ctetreault commented on #59
I believe so, yes

[2013-03-04 22:39] gcsantiago commented on #98
Sorry, can't test it, I'm still with the previous window.open login way, but I believe in Chad and no one put an additional comment, so I suggest to close it for now. Thanks

[2013-03-04 23:08] #59 closed, assigned to nobody

[2013-03-27 15:37] asiayeah opened #113 "FaceBook-OAuth-2 stops working with Error 500"
When the following is executed, "Error 500 The server is experiencing technical difficulties" is displayed instead of a Facebook login page:

var url = 'https://www.facebook.com/dialog/oauth?client_id=' + facebookOptions.clientId + '&redirect_uri=' + facebookOptions.redirectUri + '&scope=publish_stream,read_stream';
childWindow = window.open(url, '_blank');

It used to work. I am now testing in Bl

[2013-03-27 15:41] timwindsor commented on #113
@ctetreault Can you take a look, Chad?

[2013-03-28 00:21] asiayeah commented on #113
I still got the Error 500 as of now. To reproduce, one should uninstall the app, install it again and then login.

That means the initial login always fail with 500. For testing purposes, if I changed the above url to "http://www.facebook.com", it will allow me to login within my WebWorks app. Then I revert the ur, reinstall the app and it will work! However, once I uninstall the app and install i

[2013-03-28 17:01] asiayeah commented on #113
I found the issue is not BB10 specific. I can reproduce it on any desktop browser.
1. Remove all facebook.com cookies
2. Launch the  'https://www.facebook.com/dialog/oauth?client_id=... will get Error 500.

Here's a bug report on facebook related to this one: https://developers.facebook.com/bugs/491147611024519?browse=search_51547aefcf1d29084346605

[2013-03-30 14:51] asiayeah commented on #113
Facebook has acknowledged and fixed the issue on their side. I am closing this one. Thanks.

[2013-03-30 14:51] #113 closed, assigned to nobody

[2013-03-30 15:29] timwindsor commented on #113
Thanks very much for tracking this down!

[2013-04-12 17:09] janpieper opened #125 "Private (GitHub) messages are gone. Please update README files."
The README files are telling us to send a private message (via github messages) to the sample author(s) if we've filed a new issue:

But private messaging has been removed about a year ago:

Source: https://github.com/blog/1091-spring-cleaning

[2013-04-17 21:37] #125 closed, assigned to timwindsor

[2013-04-17 21:37] #105 closed, assigned to timwindsor

[2013-05-02 15:21] astanley commented on #49
Very sorry for the delayed reply.  Yes you can invoke a specific event in the calendar.  More info here: https://developer.blackberry.com/html5/documentation/calendar.html

[2013-05-02 15:21] #49 closed, assigned to nobody

[2013-05-02 15:22] #103 closed, assigned to nobody

[2013-05-02 15:29] gcsantiago commented on #49
Thanks Adam ! I will try.

[2013-05-02 15:51] #15 closed, assigned to nobody

[2013-05-03 14:34] rtholmes opened #136 "Maps example: leaflet polylines do not render correctly"
In extending the Maps sample I found a leaflet rendering problem with polylines that the Leaflet team has closed as a BB10 issue:

https://github.com/Leaflet/Leaflet/issues/1640

From the original bug, polylines look like this on the Dev Alpha C:

![image](https://f.cloud.github.com/assets/89003/459317/73d92c4a-b3fe-11e2-994a-a25b0a4b9021.png)

[2013-05-03 21:13] timwindsor commented on #136
This type of issue should really go in the developer issue tracker rather than Github. But that said, I don't think it's an issue with newer software builds. What version are you running on your Dev Alpha C? I'm on 10.1.0.1609 on my Q10 and the polygon in the getting started example appears correctly.

[2013-05-03 21:13] #136 closed, assigned to nobody

[2013-05-12 19:26] joickle commented on #39
Was there any luck getting this to work with BBui? I'm having a heck of a time.. lol

[2013-05-22 18:37] timwindsor commented on #39
@mimendoza @ctetreault Do you think either of you would be able to try this out in bbUI.js and see what the issues are?

[2013-05-22 20:41] splatterb0y commented on #39
I am using it with bbUI.js without problems dont forget to adjust the sizing of the containers accordingly AND more important you have to adjust the line:

[code]

The negative pixel value has to fit your use case. I fiddled around with it till it worked for me. It's not easy to get this integrated but it works when you dig a little deeper.

[2013-05-30 12:09] bert2002 opened #140 "EXIF-Data-Reader missing library"
Hi,

in the EXIF-Data-Reader sample the index.html wants to add the script "js/lib/canvas2blob.js". It does not exist :)

Cheers,

bert

[2013-05-30 13:34] bert2002 commented on #140
chad just fixed it :+1:

[2013-05-30 13:34] #140 closed, assigned to nobody

[2013-05-30 15:37] ctetreault commented on #98
I think we're safe to close this issue now. :)

[2013-05-30 15:37] #98 closed, assigned to nobody

[2013-07-03 06:10] thristov opened #147 "pimcalendar example not working with bbui-0.9.6"
WebWorks example "pimcalendar" is not working properly after changing bbui to version 0.9.6, option Find Events. After entering any search info and pressing button Search nothing really happens, the app stays on the same screen (findEvents), findResult screen is never displayed. When pressing the Back button there is an empty findEvents screen.

[2013-07-08 15:00] timwindsor commented on #147
@oros Can you take a look at this issue? This example should be updated to 0.9.6 anyway.

[2013-07-09 15:01] oros commented on #147
@thristov There are some new BBUI requirements when a Context Menu is being used. Sample has been updated and will be contributed back upstream momentarily.

Specifically: An extension must be included and config.xml must be updated.

For reference:
https://github.com/blackberry/bbUI.js/wiki/Context-Menus

[2013-07-16 15:27] bbsam opened #150 "Regarding downloading an image using FileTransfer"
Hi,

I am trying to download an image from an URL to the shared path on the device using FileTransfer. This results in Error code 4 "Permission error'. As per the API documentation it is not required to specify any permission but not understanding what kind of permission it is asking for. Please find the code below.

I have added the filetransfer feature in config.xml.

[code]

Please provide some

[2013-07-16 16:56] timwindsor commented on #150
Did you include the permission as shown in the app's config.xml?

https://github.com/blackberry/BB10-WebWorks-Samples/blob/master/fileTransfer/app/config.xml#L46-L48

[2013-07-17 05:35] bbsam commented on #150
Hi Tim,

Yes, I do have included the access_shared permissions in my config.xml.

[2013-07-17 15:13] jeffheifetz commented on #150
@haahmad any ideas?

[2013-07-17 15:33] haahmad commented on #150
@jeffheifetz @bbsam I don't know if you are using the HTML5 filesystem API, but if you are you need to set `blackberry.io.sandbox` to false to use the shared folder.
https://developer.blackberry.com/html5/apis/blackberry.io.html#.sandbox

[2013-07-18 09:31] bbsam commented on #150
I am using this API to download the images

https://developer.blackberry.com/html5/apis/blackberry.io.filetransfer.html

[2013-07-18 14:39] thristov commented on #147
Thanks! Working like a champ! Closing issue.

[2013-07-18 14:39] #147 closed, assigned to nobody

[2013-07-18 14:58] bbsam commented on #150
Hi,

I have followed this and found a solution

https://github.com/blackberry/BB10-WebWorks-Framework/issues/382

Thanks.

[2013-07-19 15:38] #150 closed, assigned to nobody

[2013-07-26 21:25] gcsantiago commented on #150
@bbsam Hi, what was exactly the solution you found there? Thanks

[2013-08-23 05:10] 0xLuz opened #154 "Error in bfb_bootstrap.js when I try the Built-For-BlackBerry Sample"
Well, I have started  with WebWorks in the lasts days and I'm learning how to use the bbUI.js . In trying make a screen transition with bb.pushScreen() and it doesn't work, I've this error:

https://dl.dropboxusercontent.com/u/85402777/screen5.png

When I click in the arrow that is a button for another screen this error is shown, well, I can't find the problem. Can someone help me, please?

To cal

[2013-08-23 16:46] #154 closed, assigned to nobody

[2013-08-23 17:31] timwindsor commented on #154
Did you resolve this?

[2013-08-23 22:03] 0xLuz commented on #154
Yes! bbUI.js bbUI.css were of the old version, I downloaded the lastest version here https://github.com/blackberry/bbUI.js and I changed the old files. I think that `Built-For-BlackBerry` Sample need to be updated and the css too.

[2013-08-30 05:31] theclabs opened #158 "BB10-WebWorks-Samples / Toast dont execute a dissmissCallback"
On disappear toast, dont call te dissmissCallback function

https://github.com/blackberry/BB10-WebWorks-Samples/blob/master/Toast/js/app.js#L50

[2013-09-05 06:34] 0xLuz commented on #158
Do you are using the bbUI.js/bbUI.css version 0.9.6? If not, try to update https://www.dropbox.com/s/kvbef82rv4b5ak8/bbui.zip
I was having some problems to call functions with the old version, the most samples here, doesn't are updated.

[2013-09-13 13:05] gcsantiago commented on #158
You need to call with button on it for first time to ensure to work (bug??)

https://github.com/blackberry/BB10-WebWorks-Samples/issues/66

[2013-09-18 20:44] timwindsor commented on #158
Is that still happening on the latest OS or developer preview OS? The original issue suggests that it should be fixed by now.

[2013-09-19 12:41] theclabs commented on #158
@gcsantiago yes, have a button in the function, but dont execute anyway. look ( https://github.com/blackberry/BB10-WebWorks-Samples/blob/master/Toast/js/app.js#L50 )
@timwindsor: yes happening in the last simulators and 10.2 final releases.

[2013-09-24 17:00] jeffheifetz commented on #158
Is this issue specifically with the sample, or with the API?

[2013-09-30 21:15] #85 closed, assigned to nobody

[2013-09-30 21:36] timwindsor opened #160 "Update Samples for 10.2"
Samples need to be updated to add a listener for 'webworksready' after the load event is received, to ensure they work properly on later 10.1 and 10.2 OS builds. The following samples add a listener for 'webworksready' without guaranteeing the document has loaded. The result is typically a white screen.

To be updated:
- [ ] Built-For-BlackBerry /cc @ctetreault
- [ ] CustomContext /cc @ctetreault

[2013-09-30 21:49] ctetreault commented on #160
There is a massive sample update being planned right now that will address this.

All the samples need to be updated for Cordova, so it's part of that.

Sent from my BlackBerry 10 smartphone.
From: Tim Windsor
Sent: Monday, September 30, 2013 5:36 PM
To: blackberry/BB10-WebWorks-Samples
Reply To: blackberry/BB10-WebWorks-Samples
Cc: Chad Tetreault
Subject: [BB10-WebWorks-Samples] Update Samples fo

[2013-10-01 07:40] kfn opened #161 "configuration.js"
pushCapture sample:
in line 121 and 125 should it not be .setChecked(true); instead of .setChecked();

[2013-10-02 19:21] timwindsor commented on #161
Yes I think so. I've put in a pull request.

[2013-10-02 19:21] #161 closed, assigned to nobody

[2013-10-02 20:02] timwindsor commented on #158
@ctetreault is the author, so perhaps he can take a look. We are updating some of these samples shortly anyway.

[2013-10-03 13:54] ctetreault commented on #158
Pretty sure it's just the sample Jeff. I use toasts with callbacks in the upcoming BFB Boilerplate without a problem.

We're updating the old samples shortly to correct a few issues, I'll make sure this one is on the list.

[2013-10-15 14:40] ctetreault opened #165 "Out of date sample: OLD BFB Sample"
Now that we've published the new boilerplates, can we deprecate the old one here? https://github.com/blackberry/BB10-WebWorks-Samples/tree/master/Built-For-BlackBerry

[2013-10-15 18:00] kwallis commented on #165
Sounds good to me. Update the Readme, perhaps tag the repo, then remove?

[2013-10-15 21:07] timwindsor commented on #165
We haven't done much tagging at all on the sample repos, so we don't really have a strategy in place. How would you  like to see it tagged?

[2013-10-15 21:09] ctetreault commented on #165
"Defunct"

Sent from my BlackBerry 10 smartphone.
From: Tim Windsor
Sent: Tuesday, October 15, 2013 5:08 PM
To: blackberry/BB10-WebWorks-Samples
Reply To: blackberry/BB10-WebWorks-Samples
Cc: Chad Tetreault
Subject: Re: [BB10-WebWorks-Samples] Out of date sample: OLD BFB Sample (#165)

We haven't done much tagging at all on the sample repos, so we don't really have a strategy in place. How would y

[2013-10-15 22:23] kwallis commented on #165
I believe tags are usually used to potentially go back in time and relates
to the entire repo, so in a sense you want to go back to something
"positive". Also something more descriptive? Maybe just "BfB deprecation"?

On Tue, Oct 15, 2013 at 2:09 PM, Chad Tetreault notifications@github.comwrote:

[2013-10-16 15:04] timwindsor commented on #165
All right, I'll do that today.

[2013-10-16 16:31] #165 closed, assigned to nobody

[2013-11-06 13:33] astanley opened #170 "Maps sample crashes when title used"
Reported by developer:

"In the map sample, if you add a title to the screen, and run it in the simulator, the app crashes and the whole screen is painted black.  I can't confirm that it happens on the dev alpha"

https://github.com/blackberry/BB10-WebWorks-Samples/tree/master/Maps

 [ ] confirmation required

[2013-11-06 18:22] splatterb0y commented on #170
I can confirm this, same thing is happening to me in my application since 10.2 was released.
As soon as the google map finished loading and the ajax request for points of interests starts the whole screen turns black. You can only get around this if you close and restart the application. This was the main reason to remove one of the main features of my app to prevent users being upset about a not

[2013-11-12 14:28] denniskis commented on #170
I can confirm this also.

[2013-11-12 14:34] ctetreault commented on #170
We'll be updating the sample shortly, will try to reproduce.

[2013-12-02 09:27] T-M-C commented on #158
Every time my app shows a toast (with no dismisscallback), i get an error in console:
`TypeError: 'undefined' is not an object (evaluating 'options.dismissCallback')`

[2013-12-05 04:38] arasbm opened #195 "should I use this project or cordova?"
I already have apps build using cordova. Recently I tried adding blackberry10 platform as per customer request. I got a lot of very unhelpful errors, I will open another ticket for that. But I am mostly wondering why BB is working on a separate project instead of just contributing to the cordova blackberry10 platform and making sure it works?

[2013-12-05 04:44] arasbm opened #196 "Native Packager exception occurred"
I am trying to build a project using blackberry10 platform for cordova `3.2.0`. I _think_ it is using this project internally, so I thought maybe you would have some clue what this error is about.

How can I debug this issue and figure out what is causing the build to fail?

[code]

I am using Ubuntu Linux with 64bit. I have installed blackberry SDK and momentus IDE and the emulator is running as

[2013-12-05 05:17] timwindsor commented on #195
That's exactly what we've done here. We wrote the code for Cordova so that it would work for BlackBerry 10, and we ported all our core APIs over. WebWorks 2.0 is literally just Cordova with some extras to make it easier for traditional BlackBerry developers to get started with. If you're main focus is cross platform, and you've already got projects setup with Cordova, then I would not tell you to

[2013-12-05 05:22] timwindsor commented on #196
If you run with the -d option, it will give you some more verbose output that will probably describe the actual error that is happening.

Two things come to mind as likely: Since you were able to add the blackberry10 platform, you've got the main thing done. Have you added the NDK path to your PATH variable, or run the bbndk-env.sh script in your current terminal?

Secondly, I believe that the def

[2013-12-05 05:46] arasbm commented on #195
Thank you for the quick response. Honestly I got very scared when I saw this project was linked on blackberry website. It is good to hear you are staying close to cordova. I am getting sick of all the native mobile platforms, there is literally more than 10GB of crap collected on my development machine for all the different platforms. Sometime I wonder why I need all of this just to write a web ap

[2013-12-05 06:06] arasbm commented on #196
@timwindsor thanks for that help again. So here is the error I see just before it fails:

[code]

Looks like it does not like the app description. Do you know what kind of restrictions are imposed on description?

[2013-12-05 06:25] arasbm commented on #196
Just to update, the issue was in fact in the description text. I am not sure exactly what the limitations on it are, but now it has successfully built after I changed it to a short phrase. Thanks you!

[2013-12-10 23:21] arasbm opened #202 "Are there any working examples with cross origin XHR?"
Sorry if this is not the right channel to ask for help, but I am not able to find any working examples or get help about this issue. I am trying to run my cordova app for blackberry. The app now builds and starts in the simulator, however cross origin XHR calls fail right away. I put more details about my particular issue here: http://stackoverflow.com/q/20506440/527559

But this makes me believe

[2013-12-10 23:43] arasbm commented on #202
Ok, I found a workaround but it is not pretty. Basically simillar to what has been done here: https://github.com/blackberry/Cordova-Samples/blob/master/BB10-Look-And-Feel/www/config.xml#L56

That did not work in cordova 3.2 but if I disable web-security using the following it will work:

`<preference name="websecurity" value="disable" />`

Now my question is, what are the implications of disabling

[2013-12-12 00:24] arasbm commented on #202
Someone answered this question for me on stackoverflow: http://stackoverflow.com/a/20523646/527559

[2013-12-15 18:25] timwindsor commented on #202
That was my boss, so it's a pretty good source for the answer :)

[2013-12-15 18:25] #202 closed, assigned to nobody

[2013-12-16 19:56] timwindsor commented on #196
@bryanhiggins Is there something we can do to improve error messages with Cordova? Even the detailed message doesn't really say what's wrong with the value in this case.

[2013-12-17 15:08] bryanhiggins commented on #196
@timwindsor The detailed error message comes from the native packager. I'll open up an issue for the fact that it was not displayed without passing in the --verbose flag.

[2014-01-20 20:10] #195 closed, assigned to nobody

[2014-01-20 20:10] #196 closed, assigned to nobody

[2014-01-30 17:04] jrok commented on #160
Hey Guys, Is this still in the works? I take it with the cordova integration that makes everything webworks 2.0 compatible? Will the Built for BlackBerry Boilerplate also be done soon?

Thanks for all your hard work!

[2014-01-30 19:09] astanley commented on #160
Hi Jay,

Yes, this is in the works.  We have ported all applications to the 'new' format, and you can find them in the "WebWorks-2.0" branch for this repo:

https://github.com/blackberry/BB10-WebWorks-Samples/tree/WebWorks-2.0

Since the SDK is still in BETA, we are keeping these branches separate for now.  Once the Gold version of the SDK is launched, this branch will be merged into master.

Hope

[2014-01-31 19:50] timwindsor commented on #160
This particular issue is around some timing issues with some of these samples. They were all fixed in the update to WebWorks 2 and Cordova, but the ones here still need the fix in the version for WebWorks 1.0. We'll try to have it fixed soon.

[2014-02-04 13:31] miamon opened #212 "pushCaptureBasics code issues:"
On **pushClient.js**

**Line 38 appears**:

[code]

correct is:

[code]

**Line 196 appears**:

[code]

correct is:

[code]

[2014-02-04 15:14] miamon commented on #212
And a doubt:

it's not better move Listen for invoke requests inside 'deviceready'

[code]

[2014-02-05 17:59] timwindsor commented on #212
@oros Can you take a look at this, Eric?

[2014-02-05 18:10] oros commented on #212
@miamon Great feedback, very much appreciated.

**Line 38**
Can actually be either of the proposed URLs. The URL with the cp@@@@ prefix helps identify your application to the push servers. Should there ever be any issues, those pushes can be looked into. Technically both should work.

**Line 196**
You are correct. Furthermore, likely best to change this to **pushClient.pushService !== 0** since we

[2014-02-10 17:46] oros commented on #212
Pull request submitted:
https://github.com/blackberry/BB10-WebWorks-Samples/pull/213

[2014-02-11 20:52] #212 closed, assigned to nobody

[2014-03-21 20:50] MXZZ opened #220 "Cordova Notification not work"
the examples  Notify not work correctly and it not create the notification on BlackBerry Hub.
https://github.com/blackberry/BB10-WebWorks-Samples/tree/master/notify

My application i tried to convert from webworks 1.0 to webworks 2.0 also have this issue.
Please help!

[2014-03-26 19:02] timwindsor commented on #220
Okay, please check with the latest changes - they were just a rename of some of the index.htm files to index.html. It's likely that the default app was not launching properly due to that.

[2014-03-26 20:41] MXZZ commented on #220
No! Reverse the changes please because now the Notify sample doesn't start (not without complementary renaming of "index.htm in index.html"  in config.xml).
The previous version of sample Notify stars correcly but when pressing any button it does nothing  : No notifications sent on BlackBerry Hub like  Webworks 1.0 version ( onError: callback is always called instead )
The new modified version  ev

[2014-04-01 21:44] timwindsor commented on #220
I have investigated this issue in more detail. There were several issues, and I don't think it was ever tested beyond seeing the notification in the inbox. Sorry about that.

I've fixed what I could, but some of the sample functions are assuming data that is not coming from the invocation. I opened an issue internally to see about them: BRWSR-16362

Let me know how this works for you.

[2014-04-01 22:34] MXZZ commented on #220
Yes, it works for me :)

Thank you, you're the best!
Marco Gallo

[2014-04-02 14:51] timwindsor commented on #77
Hey, what's the status on this now? Fixed yet?

[2014-04-02 14:57] nmurugesu commented on #77
Umm, It should have been fixed at the SDK level.  I will need to confirm this.  I will get back to you.

Naveenan Murugesu

Application Development Consultant
HTML 5/WebWorks - Developer Relations

Office: (905) 629-4746 x15105

BlackBerry: (416) 710-0981

[cid:image001.jpg@01CF4E62.5DAF3A00]

From: Tim Windsor [mailto:notifications@github.com]
Sent: Wednesday, April 02, 2014 10:51 AM
To: blackber

[2014-04-02 14:58] timwindsor commented on #220
Awesome - glad to know that we could help.

[2014-04-02 14:58] #220 closed, assigned to nobody

[2014-04-02 14:59] #160 closed, assigned to nobody

[2014-04-03 14:53] nmurugesu commented on #77
Hi Tim,

Still does not seem to be working the way it was working on WebWorks 1.0.  I need to investigate a little more.

Thanks

Naveenan Murugesu

Application Development Consultant
HTML 5/WebWorks - Developer Relations

Office: (905) 629-4746 x15105

BlackBerry: (416) 710-0981

[cid:image001.jpg@01CF4F2A.E76D8990]

From: Tim Windsor [mailto:notifications@github.com]
Sent: Wednesday, April 02, 2

[2014-12-10 07:14] oolar opened #235 "On Blackberry Z10 BBOS 10.2.1.3062 - Open PDF into file - INVOCATION_BAD_REQUEST_ERROR"
I have tried the demo on Blackberry Z10 with BBOS 10.2.1.3062, version STL100-2 and I cannot open a pdf into Acrobat reader. It's always displaying  INVOCATION_BAD_REQUEST_ERROR.

[2014-12-15 06:54] oolar commented on #235
I found the problem: I have a German Z10 and therefore path was not correcty configured into example. Anyway the error message is confusig.

[2014-12-15 06:54] #235 closed, assigned to nobody

[2014-12-15 06:54] oolar commented on #235
Hello,
It was BB10-WebWorks-Samples-master\invoke\
I have found meanwhile the problem it was the path( I have a german Z10). Anyway the error code was confusing.

Issue was closed.

Freundliche Grüße / Best regards

Olimpiu Olar
App Development Manager

[cid:image003.png@01D0183C.57B9E790]

T +49 6571 9040 0 | F +49 6571 9040 40 | oolar@aeins.de | www.aeins.de
A EINS IT GmbH | Am kleinen Rotenberg

[2015-02-03 14:19] volco opened #236 "setwallpaper doesn't work on BB10.3.1.634"
I tried the setwallpaper sample app, it says "wallpaper changed!" but it doesn't actually change the home screen wallpaper !
any suggestions ?

[2015-02-03 19:10] ctetreault commented on #236
Works fine for me using the sample, and following the build instructions on 10.3.1 GC

[2015-02-16 15:45] CyrilCY commented on #236
Hello, ctetreault!   I am new guy, I recently in the study of webworks2.2 development and learning.In the beginning I had some problems.
When the build project：(Deploy to a device)
[WARN]    Failed to find debug token. If you have an existing debug token, please copy it to C:\Users\CC\.cordova\blackberry10debugtoken.bar. To generate a new debug token, execute the 'run' command.
No debugtoken.bar t

[2015-03-10 06:55] nirav12 opened #237 "Push Notification Issue with BES10 (Webworks Application)"
Hi Team,

I am trying to implement push notification with BES10 for Webworks App.

For implementing push notification, i am using https://github.com/blackberry/BB10-WebWorks-Samples/tree/master/pushCapture demo app.

After installing app in BB Z10 device. Doing below steps

1) Selecting Enterprise / BDS option.
2) Inserting App Id and Push Initiator application URL (High-level-sample) in the confi

[2015-03-11 18:11] timwindsor commented on #237
The push Capture demo is configured for public push, not BES Push. Remove this line from your config.xml: https://github.com/blackberry/BB10-WebWorks-Samples/blob/master/pushCapture/config.xml#L18

[2015-04-07 09:52] darmie opened #238 "Facebook and Twitter Examples not Working in Webworks SDK 2.2"
Please can you help update the Facebook and Twitter OAuth samples to work in Webworks SDK 2.2.
When i try to run it, Childbrowser opens but does not load the web page and returns an error

[2015-04-07 18:21] timwindsor commented on #238
@chadtatro I expect you've got updates to these on your list already

[2015-04-07 18:48] ctetreault commented on #238
These were removed from the list of updates, but worked last time I tested.

What is the error?

[2015-04-07 19:58] darmie commented on #238
@chadtatro it says website unavailable, but it's the same one I used and
working perfectly in Android.

The very first time I tried the OAuth login in blackberry simulator, it
loaded the webpage, but it haven't been able to load a web page in the
child browser ever since. I tried to check the web inspector for errors,
but none so far.

I specified a wild card origin and disabled web security in th

[2015-05-22 11:17] nirav12 commented on #237
Thanks its working fine.

I am getting another issue with user subscribing. I am adding username:-check and password:-check in register tab. After clicking on submit button I am getting "Error:- subscribe to the push initiator failed with HTTP RESPONSE CODE:0".

But when i am calling url manually that time its working fine. For example

https://10.***.***.***:8443/high-level-sample/subscribe?
appi

[2015-05-26 21:28] timwindsor commented on #237
@nmurugesu are you able to take a look at this Naveenan?

[2015-05-27 16:15] nmurugesu commented on #237
I believe this error occurred because of a temporary network issue.  He posted the same question in the forums as well.

Thanks

Naveenan Murugesu

Enterprise Solutions Manager
HTML 5/WebWorks – Developer Relations

Office: (905) 629-4746 x15105

BlackBerry: (416) 710-0981

[cid:image001.jpg@01D09876.C3751EE0]

From: Tim Windsor [mailto:notifications@github.com]
Sent: Tuesday, May 26, 2015 5:28 PM

[2015-06-26 03:15] newpen opened #239 "Sorry, but how to test it on my device?"
I followed the instructions to build the WebWorksWeather. It's installed on my Z30. Once I open it, the splash screen is showing ok, but then it went to a blank black screen, and nothing else is showing. What am I missing here?

[2015-06-26 20:28] timwindsor opened #240 "WebWorks Weather sample uses old Cover API"
The WebWorks Weather sample makes calls to the 1.0/2.0 version of the Window Covers API and has not been updated to the new 2.1 method calls. If you run it against the newer plugin, you get a black screen, and the console shows an error message.

Problem lines are here: https://github.com/blackberry/BB10-WebWorks-Samples/blob/master/WebWorksWeather/www/js/init.js#L150-L166

[2015-06-26 20:31] timwindsor commented on #239
There's an issue with the use of an older API that I see in it, which I've explained in more detail in issue #240. You can comment out the lines 151-166 in init.js to make it work for now.

I should also mention you can use WebInspector to debug issues like this. You will find it invaluable as you develop your own apps: https://developer.blackberry.com/html5/documentation/v2_2/debugging_using_web_

[2015-06-26 20:31] #239 closed

[2015-06-26 20:33] timwindsor commented on #240
@chadtatro I am guessing you might have an update for this app on the roadmap already?

[2015-08-26 09:40] RDS-Huegelmann opened #241 "PushCapture: Error on saving the configuration"
The following error message was generated when trying to save the configuration with "enterprise/bds" selected and the "subscribe"- and "launch" checkboxes deselected: "Error: An internal error occurred while calling blackberry.push.pushservice.create. Try restarting the application."
The public push permission had already been removed.

[2015-08-27 21:08] timwindsor commented on #241
@ctetreault Can you take a look or suggest someone who could?

[2015-08-28 16:49] ctetreault commented on #241
I don't see any spot in this sample where you set a configuration with any of those values.

Where exactly is this occurring so I can test?

[2015-08-31 07:57] RDS-Huegelmann commented on #241
Hi, I was referring to Luca Sale's BlackPerry Push sample app. In its configuration screen you can select either "public/bis" or "enterprise/bds", we use the latter. The option "subscribe with push servies sdk" was deselected, as well as "launch application on new push".
![screenshot_push](https://cloud.githubusercontent.com/assets/9429767/9574382/a3e96aec-4fc6-11e5-9ddc-e487d2ef4a6c.jpg)

[2015-08-31 07:58] RDS-Huegelmann commented on #241
Sorry, I closed the comment by clicking the wrong button...

[2015-09-08 14:38] ctetreault commented on #241
Ah I see now ;)

We're actually working on updating the samples right now. I would recommend to use the PushCaptureBasics sample as this one is not going to be updated.

[2016-03-14 03:22] 5thgfka opened #242 "The blackberry signing server is down?"
when i build and run, console notice me that:"[INFO]    Error: Unable to connect to the Signing Server. Verify your internet connection is enabled.
[INFO]    An error has occurred
An error has occurred"

[2016-03-14 05:50] #242 closed